@import url("https://fonts.googleapis.com/css?family=Ubuntu");

* {
  box-sizing: border-box;
}

body {
  font-family: "Ubuntu", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow-x: hidden;
  margin: 0;
}

.bg {
  background: url('images/flower.jpg') no-repeat center center / cover;
  position: absolute;
  top: -30px;
  left: -30px;
  width: calc(100vw + 30px);
  height: calc(100vh + 30px);
  z-index: -1;
  filter: blur(0px);
}

.loading-text {
  color: #fff;
  font-size: 50px;
}